version: '1.0.{build}'
image: Visual Studio 2017
skip_non_tags: true
branches:  
  only:
  - master
build_script:
- ps: .\Build.ps1
artifacts:  
- path: .\artifacts\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  name: production
  api_key:
    secure: 3BkRUkvxXQyC77E+MAlJiZLODsf/C1Rd4qMsvkEqyize/uYYc+hhvEW5OBCDezjK
  skip_symbols: true
  on:
    branch: master
- provider: GitHub
  auth_token:
    secure: sogLxB371IAfeh6vsGSybVS74vlINbMqOEbf0dSWKP42flC5vt2Pw9OREJNY4Nl3
  artifact: .\artifacts\*.nupkg
  draft: true
  on:
    branch: master